/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;} 
ol,ul{list-style:none;}  
img{border:none;}
a{text-decoration:none;}
.fl{
	float:left;
	display:inline;	
}
.fr{
	float:right;
	display:inline;	
}
.clear{
	clear:both;	
}
li{
	list-style-type:none;	
}


